@import url("https://fonts.googleapis.com/css?family=DM+Sans:500,700&display=swap");
* {box-sizing: border-box;}

@font-face {font-family: 'yg-jalnan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
  font-weight: normal;
  font-style: normal;}

.brand_shop_tap {display: block;
                  width: 1000px;
                  height: 100px;
                  margin: 0 auto;
                  margin-top: -60px;
                  text-align: center;
                  background-color: #FFFEE3;
                  border-radius: 40px;
                  box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
                  overflow: hidden;
                  max-width: 100%;
                  position: relative;
                  z-index: 2;}

.nav-item {display: inline-block;
            text-decoration: none;
            font-family: "yg-jalnan";
            font-size: 20px;
            color: black;
            padding: 39px 0;
            transition: 0.3s;
            z-index: 1;
            position: relative;}
.nav-item:nth-child(1){margin-right: 50px;}
.nav-item:nth-child(2){margin-right: 50px;}
.nav-item:nth-child(3){margin-right: 50px;}

.nav-item:before {content: "";
                    position: absolute;
                    left: 0;
                    bottom: -6px;
                    width: 100%;
                    height: 10px;
                    background-color: #ccc;
                    border-radius: 8px 8px 0 0;
                    opacity: 0;
                    transition: 0.3s;}

.nav-item:not(.is-active):hover:before {opacity: 1;
                                          bottom: 0;}

.nav-item:not(.is-active):hover {color: #ccc;}
  
.nav-indicator {position: absolute;
                  left: 0;
                  bottom: 0;
                  height: 10px;
                  transition: 0.4s;
                  z-index: 1;
                  border-radius: 8px 8px 0 0;}

@media (max-width: 580px)
        {.nav {overflow: auto;}}