#board {width:1200px;}

#board li{width:100%;}
#board li:nth-child(1){border-top:3px solid #0751a9; }
#board li:nth-child(4){border-bottom:3px solid #0751a9;}

#board li a{display:block;
				border-bottom:0.5px solid #0751a9;
				padding:15px 30px;  
				background: url(../images/icon.png) no-repeat 95% 50%;} 

#board li:hover a{font-weight:bold; 
					background-color: #D1EEFE;}
  
#board li.on a{font-weight:bold; 
				background-color: #D1EEFE;
				background: #D1EEFE url(../images/icon2.png) no-repeat 95% 50%;}
	
#board li:last-child a{border-top:0;}

#board li div{width:100%; 
				border-bottom:0.5px solid #0751a9;
				border-top:0;
				padding:15px 30px; 
				box-sizing:border-box; 
				height:100%;
				display:none;}

