@font-face {font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;}

*, *::before, *::after {box-sizing: inherit;}

.text_PP1 {margin: 30px 0;
            font-family: 'yg-jalnan';
            font-size: 40px;
            font-weight: 700;
            line-height: 1;
            color: #ffc870;}

.text_PP2 {font-size: 18px;
            line-height: 25px;
            color: white;}

.main-card {position: relative;
                width: 770px;
                height: 100%;
                margin: 80px auto;
                border-radius: 50px;
                background-color: #0751a9;
                box-shadow: 0 40px 40px -20px #8fc7d544;
                box-sizing: border-box;
                scroll-behavior: smooth;}

.main-card .card-content {position: relative;
                            display: flex;
                            width: 100%;
                            height: 600px;
                            padding: 50px;}

.main-card .content-left {position: relative;
                            width: 300px;
                            height: 100%;
                            border-radius: 50px;
                            overflow: hidden;
                            background-color: #f6f6f6;}

.main-card .content-left img {width: inherit;
                                height: inherit;
                                -o-object-fit: cover;
                                object-fit: cover;
                                -o-object-position: center;
                                object-position: center;}

.main-card .content-right {position: relative;
                            width: calc(100% - 300px);
                            height: 100%;
                            padding-left: 35px;}
    
.main-card .tag {position: relative;
                    left: 100%;
                    transform: translateX(-100%);
                    width: -webkit-fit-content;
                    width: -moz-fit-content;
                    width: fit-content;
                    padding: 10px;
                    border-radius: 10px;
                    background-color: #FFFEE3;}

.main-card .tag .pp_tag {color: #000d53;}

.main-card .mini-imgs {position: absolute;
                        display: flex;
                        bottom: 0;
                        height: 105px;}

.main-card .mini-imgs img {width: 105px;
                            height: 105px;
                            border-radius: 10px;
                            -o-object-fit: cover;
                            object-fit: cover;
                            -o-object-position: center;
                            object-position: center;
                            cursor: pointer;
                            transition: 300ms;}
    
.main-card .mini-imgs img:hover {opacity: .75;}

.main-card .mini-imgs img:nth-child(2) {margin: 0 10px;}

/* Display this style when screen-width is lower than 992px */
@media only screen and (max-width: 992px) {

    main {
        display: flex;
        justify-content: center;
        align-items: start;
        height: auto;
        min-height: 100vh;
    }

    .main-card {
        position: relative;
        width: 100%;
        height: auto;
        margin: 80px 20px;
    }

    .main-card .card-content {
        flex-direction: column;
    }

    .main-card .content-left {
        width: 100%;
        height: 300px;
    }

    .main-card .content-right {
        width: 100%;
        height: auto;
        padding: 175px 0 0;
    }

    .main-card .tag {
        left: 0;
        transform: translateX(0);
    }

    .main-card .mini-imgs {
        position: absolute;
        display: flex;
        top: 0;
        margin-top: 35px;
        height: 105px;
    }

}

/* Display this style when screen-width is lower than 500px */
@media only screen and (max-width: 500px) {

    .main-card {
        margin: 120px 20px;
    }

    .main-card .card-content {
        padding: 25px;
    }

    .main-card .content-right {
        width: 100%;
        height: auto;
        padding: 115px 0 0;
    }

    .main-card .mini-imgs {
        margin-top: 20px;
    }

    .main-card .mini-imgs img {
        width: 60px;
        height: 60px;
    }

}
